<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Advisory projects</title>
    <style>
      .link {
        width: 100px;
	margin: 10px;
      }
      .link_small {
        width: 85px;
	margin: 10px;
      }
      figure{
        display: inline-block;
	text-align: center;
      }
      .container_max{
        max-width: 500px;
	text-align: center;
      }

    </style>
  </head>
  <body>
   <div class="container container_max">
    <br><br>
    <h3>Recent Projects</h3>
    <hr>
    <div>
      <span>
	<figure>
	<a href="https://recyclobuddy.com"><img class=link src="../static/images/recyclobuddy5.png" alt="RecycloBuddy"></a>
	<figcaption>RecycloBuddy</figcaption>
	</figure>
      </span>
      <span>
	<figure>
	<a href="https://eventhorizoncapital.com"><img class=link_small src="../static/images/spiral.jpg" alt="Event Horizon Capital"></a>
	<figcaption>Event Horizon</figcaption>
	</figure>
      </span>
      <span>
	<figure>
        <a href="https://gloriousgrain.com"><img class=link src="../static/images/GG_Logo_circle_only.jpg" alt="Glorious Grain"></a>
	<figcaption> Glorious Grain</figcaption>
	</figure>
      <span>
	<figure>
        <a href="http://.com"><img class=link src="../static/images/scraper.png" alt="SCR4PE.com"></a>
	<figcaption><em>SCR</em>4<em>PE</em>.com</figcaption>
	</figure>
      <span>
	<figure>
        <a href="https://github.com/CodeForPhilly/prevention-point"><img class=link src="../static/images/code.png" alt="Prevention Point"></a>
	<figcaption>Prevention Point</figcaption>
	</figure>
      </span>
     </div>
     <hr>
   </div>
  </body>
</html>
